<!-- 
	Template for Autolathe machines
	See:	code/game/machinery/autolathe.dm
			code/game/machinery/autolathe_ui.dm
 -->
<h2>Autolathe</h2>
<hr />
<div>
	<table>
		<tr>
			<td>
				Name:<br/>
				Amount/Capacity:<br/>
				Eject:<br/>
			</td>
			{{for data.storage: material: i}}
			<td>
				{{:material.name}}<br />
				{{:material.amount}} / {{:material.capacity}}<br />
				{{for data.eject_amount_options: option: j}}
					{{:helper.link(option, null, { 'eject' : material.name, 'eject_amount' : option}, material.sheets >= option ? null : 'disabled')}}
				{{/for}}
				<br/>
			</td>
			{{/for}}
		</tr>
	</table>
	<hr />
</div>
<div>
	<table>
		<tr>
		{{for data.pages: page: i}}
			<td>
				{{:helper.link(page, null, { 'change_page' : page }, data.show_page == page ? 'disabled' : null)}}
			</td>
		{{/for}}
		</tr>
	</table>
</div>
{{if data.show_page == "Jobs"}}
<!--
	Display mode for Print Jobs
-->
<div>
	<h3>Fabrication queue</h3>
	<div>
		<table>
		<tr>
			<th width="5%"></th>
			<th width="25%">Name</th>
			<th width="25%">Materials</th>
			<th width="25%">Time left</th>
			<th width="20%">Actions</th>
		</tr>
		<tr>
		{{if data.current}}
			<td>
			</td>
			<td>
				{{:data.current.name}}
			</td>
			<td>
			</td>
			<td>
			{{:helper.displayBar(data.current.progress, 0, data.current.target, 'good')}}<br>
				{{:data.current.time_left}} - {{:data.current.percent}} %
			</td>
			<td>
				{{:helper.link("Abort", 'circlesmall-close', {'action' : "abort"})}}
				{{:helper.link("Pause", 'pause', {'action' : "pause"} )}}
			</td>
		{{else}}
			<td colspan="5">
			<i>No current print job.</i>
			</td>
		{{/if}}
		</tr>
		{{for data.queue: pending: index}}
		<tr>
			<td>
				<b>{{:index + 1}}.<b>
			</td>
			<td>
				{{:pending.name}}
			</td>
			<td>
				
			</td>
			<td>
				{{:pending.time_left}}
			</td>
			<td>
				{{:helper.link("", 'circle-arrow-n', { 'action' : "move-up", 'index' : index+1 }, index < 1 ? 'disabled' : null)}}
				{{:helper.link("", 'circle-arrow-s', { 'action' : "move-down", 'index' : index+1 }, index < data.queue.length-1 ? null : 'disabled')}} 
				{{:helper.link("Cancel", 'circlesmall-close', { 'action' : "cancel", 'index' : index+1 })}}
			</td>
		</tr>
		{{empty}}
		{{if data.current}}
		<tr>
			<td colspan="5">
				<i>Queue is empty</i>
			</td>
		</tr>
		{{/if}}
		{{/for}}
		</table>
	</div>
</div>
<!-- 
	End display of Print Jobs
-->
{{else}}
<!--
	Display mode of Printing Designs
-->
<div>
	<h2>Printable designs</h2>
	<h3>Showing:</h3>
	<div>
		{{for data.categories}}
			{{:helper.link(value, null, { 'change_category' : value }, value == data.show_category ? 'disabled' : null)}}
		{{/for}}
	</div>
	<br />
	<hr />
	<table>
		<tr>
			<th width="40%">
				Name
			</th>
			<th width="30%">
				Materials
			</th>
			<th width="15%">
				Print Time (m:s)
			</th>
			<th width="15%">
				Action(s)
			</th>
		</tr>
	{{for data.recipes: recipe}}
		{{if (!recipe.hidden || data.show_hidden) && (data.show_category == 'All' || recipe.category == data.show_category)}}
		<tr>
			<td>
			{{:recipe.name}}
			</td>
			<td>
			{{:recipe.resources}}
			</td>
			<td>
			{{:recipe.time}}
			</td>
			<td>
			{{:helper.link('Queue', null, { 'make' : recipe.key })}}
			</td>
		</tr>
		{{/if}}
	{{empty}}
	<h3>No designs available for fabrication</h3>
	{{/for}}
	</table>
</div>
{{/if}}

 